/adl31915.pdf
/adl31916.pdf
/adl31917.pdf
/adl31918.pdf
/adl31919.pdf
/adl31920.pdf
/adl31921.pdf
/adl31922.pdf
/adl31923.pdf
/adl31924.pdf
/adl31925.pdf
/boxflip1.pdf
/boxflip2.pdf
/CompareTTD.pdf
/CompareTTD1.pdf
/CompareTTD2.pdf
/CompareTTD3.pdf
/CompareTTD4.pdf
/friesClass5.pdf
/FriesFigure1.pdf
/FriesFigure2.pdf
/Japan1.pdf
/Japan2.pdf
/Japan3.pdf
/Japan4.pdf
/Japan5.pdf
/Japan6.pdf
/lifelines1.pdf
/lifelines2.pdf
/lifelines3.pdf
/ps1915.pdf
/ps1916.pdf
/ps1917.pdf
/ps1918.pdf
/ps1919.pdf
/ps1920.pdf
/ps1921.pdf
/ps1922.pdf
/ps1923.pdf
/ps1924.pdf
/ps1925.pdf
/TrendsMeanTTD.pdf
